<footer class="footer-1">
    <div class="upper">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <h2 class="script">Merci de votre visite du CynoChiot!</h2>
                    <p> en espérant vous voir bientôt dans nos classes !</p>
                    <address>
                        CynoPoil
                        <br />
                        77920 <strong>Fontainebleau</strong>
                        <br/>
                        <abbr title="Téléphone">Tél:</abbr> 06 84 62 47 74
                        <br />
                        <abbr title="Email">Mail:</abbr> <a href="mailto:cynopoil@gmail.com">cynopoil@gmail.com</a>
                    </address>
                </div>
                <div class="col-md-2">
                    <h4><img src="{{"assets/img/logo_cynopoil.png" | relative_url}}" alt="" width="100px"></h4>
                    <ul class="list-unstyled footer-links">
                        <li>
                            <a href="https://www.facebook.com/cynopoil"> Facebook</a>
                        </li>
                        <li>
                            <a href="https://cynopoil.jimdo.com"> Site Web</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-2">
                    <h4>Partenaire</h4>
                    <ul class="list-unstyled footer-links">
                        <li>
                            <a href="https://www.marieleger-cynologiste.com/"> Marie Léger</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="lower">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <span class="small">Copyright &copy; 2018 - CaniTrust. All Rights Reserved.</span>
                </div>
            </div>
        </div>
    </div>
</footer>
