<nav class="navbar navbar-dark navbar-fixed-top" role="navigation">
  <div class="container">
      <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand" href="{{ site.url }}">
                <span class="logo">
                    <img src="{{ "assets/img/logo_cynochiot.png" | relative_url }}" alt="">
                </span>
            </a>
        </div>

    {%- assign page_paths = site.header_pages -%}
    <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
        <ul class="nav navbar-nav">
            <li class="hidden">
                <a href="#page-top"></a>
            </li>
            <li class="page-scroll">
                <a href="{{site.url | append: "#about"}}">A propos</a>
            </li>
            <li class="page-scroll">
                <a href="{{site.url | append: "#features"}}">Les cours</a>
            </li>
            <li class="page-scroll">
                <a href="{{site.url | append: "#pricing"}}">Tarif</a>
            </li>
            <li class="page-scroll">
                <a href="{{site.url | append: "#blog"}}">Blog</a>
            </li>
            <li class="page-scroll">
                <a href="{{site.url | append: "#team"}}">L'Équipe</a>
            </li>
            <li class="page-scroll">
                <a href="{{site.url | append: "#contact"}}">Contact</a>
            </li>
        {%- for path in page_paths -%}
          {%- assign my_page = site.pages | where: "path", path | first -%}
          {%- if my_page.title -%}
          <li class="nav-item">
            <a class="nav-link" href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a>
          </li>
          {%- endif -%}
        {% endfor -%}
      </ul>
    </div>
  </div>
</nav>
